# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
*.egg-info/
dist/
build/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Node.js
node_modules/

# Environment variables
.env

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp

saved_models/